<section class="sl-hero sl-primary-bg sl-flex-column-space-between sl-ph-12">
    <div class="sl-width-80 sl-flex-left-top">
        <h1 class="sl-secundary-title-2">Ingrese su contraseña</h1>
        <div class="sl-width-100 sl-flex-row-space-between sl-mt-6">
            <span class="sl-quaternary-bg  sl-border-radius-1 sl-secundary-text-4 sl-pw-2 sl-flex-column-center"
                style="height: 3rem; width: 3rem;">
                {{code1}}</span>
            <span class="sl-quaternary-bg  sl-border-radius-1 sl-secundary-text-4 sl-pw-2 sl-flex-column-center"
                style="height: 3rem; width: 3rem;">
                {{code2}}</span>
            <span class="sl-quaternary-bg  sl-border-radius-1 sl-secundary-text-4 sl-pw-2 sl-flex-column-center"
                style="height: 3rem; width: 3rem;">
                {{code3}}</span>
            <span class="sl-quaternary-bg  sl-border-radius-1 sl-secundary-text-4 sl-pw-2 sl-flex-column-center"
                style="height: 3rem; width: 3rem;">
                {{code4}}</span>
        </div>
    </div>
    <div class="sl-width-80 sl-flex-column-center">
        <app-keyword style="width: 100%;" (typeEvent)="writeText($event)" [count]="count" [text]="codeNumber"></app-keyword>
    </div>
    <form class="sl-width-80 sl-flex-column-center" (submit)="submit()" [formGroup]="signinForm">
        <div *ngIf="!isEnable" class="sl-input-group sl-secundary-input" style="margin-top: 0;">
            <label for="phone">Número telefónico</label>
            <input formControlName="phone" id="phone" placeholder=" NÚMERO" type="number" class="sl-quaternary-bg">
            <span class="sl-input-icon"><i class="fa-solid fa-phone"></i></span>
            <!-- <small *ngIf="" >Debe ingresar su número de teléfono.</small> -->
        </div>
        <button *ngIf="isEnable" class="sl-width-100 sl-secundary-btn sl-btn sl-mb-2 sl-mt-6" type="submit" (click)="submit()">INGRESAR</button>
        <button class="sl-width-100 sl-secundary-btn sl-btn sl-mt-2" type="button" (click)="goBackward()">ATRÁS</button>
    </form>
</section>
<app-loader [isVisible]="isLoading"></app-loader>