<div  class="sl-white-bg sl-width-100 sl-border-radius-1 sl-secundary-border sl-p-3 sl-mh-2">
    <ul class="sl-flex-row-space-between">
        <li class="sl-secundary-text-1">{{description}}</li>
        <li *ngIf="isIncome" class="sl-secundary-text-1" style="color: green;"><i class="fa-solid fa-arrow-up"></i></li>
        <li *ngIf="!isIncome" class="sl-secundary-text-1" style="color: red;"><i class="fa-solid fa-arrow-down"></i></li>
    </ul>        
    <ul class="sl-flex-row-right-center">
        <li *ngIf="isIncome" class="sl-secundary-text-1" style="color: green;">{{positive}}</li>
        <li *ngIf="!isIncome" class="sl-secundary-text-1" style="color: red;">{{negative}}</li>         
    </ul>     
</div>        