<section class="sl-hero sl-primary-bg sl-flex-column-space-between sl-ph-12">
    <div class="sl-width-80 sl-flex-left-top sl-mb-6">
        <h1 class="sl-secundary-title-2">Tu información</h1>
    </div>
    <form class="sl-width-80 sl-primary-bg" [formGroup]="signForm">

        <div class="sl-input-group sl-secundary-input">
            <label for="firstName">Nombre</label>
            <input formControlName="firstName" id="firstName" placeholder=" NOMBRE" type="text"
                class="sl-quaternary-bg">
            <span class="sl-input-icon"><i class="fa-solid fa-pen-nib"></i></span>
            <small *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">Debe ingresar su nombre.</small>
        </div>

        <div class="sl-input-group sl-secundary-input">
            <label for="lastName">Apellido</label>
            <input formControlName="lastName" id="lastName" placeholder=" APELLIDO" type="text"
                class="sl-quaternary-bg">
            <span class="sl-input-icon"><i class="fa-solid fa-pen-nib"></i></span>
            <small *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">Debe ingresar su apellido.</small> 
        </div>

        <div class="sl-input-group sl-secundary-input">
            <label for="identification">Identificación</label>
            <input formControlName="identification" id="identification" placeholder=" IDENTIFICACIÓN" type="number"
                class="sl-quaternary-bg">
            <span class="sl-input-icon"><i class="fa-solid fa-address-card"></i></span>
            <small *ngIf="identification.invalid && (identification.touched || identification.dirty)">Debe ingresar su número de identificación.</small> 
        </div>

        <div class="sl-input-group sl-secundary-input">
            <label for="email">Email</label>
            <input formControlName="email" id="email" placeholder=" EMAIL" type="email" class="sl-quaternary-bg">
            <span class="sl-input-icon"><i class="fa-solid fa-envelope"></i></span>
            <small *ngIf="email.invalid && (email.touched || email.dirty)">Debe ingresar su email.</small> 
        </div>

        <div class="sl-input-group sl-secundary-input">
            <label for="emailConfirm">Confirmar email</label>
            <input formControlName="emailConfirm" id="emailConfirm" placeholder=" EMAIL" type="email"
                class="sl-quaternary-bg">
            <span *ngIf="isEmailValid" class="sl-input-icon"><i class="fa-solid fa-check"></i></span>
            <small *ngIf="!isEmailValid && (emailConfirm.touched || emailConfirm.dirty)">Debe confirmar su email.</small> 
        </div>

    </form>
    <div class="sl-width-80 sl-flex-column-center sl-mt-12">        
        <button [ngClass]="isEnable?'sl-width-100 sl-secundary-btn sl-btn sl-mb-4':'sl-width-100 sl-quaternary-btn sl-btn sl-mb-4'" type="button"
            (click)="goForward()">SIGUIENTE</button>
        <button class="sl-width-100 sl-secundary-btn sl-btn" type="button" (click)="goBackward()">ATRÁS</button>
    </div>
</section>