<section class="sl-hero sl-primary-bg sl-flex-column-space-between sl-ph-12">
    <div class="sl-width-80 sl-flex-left-top sl-mb-6">
        <h1 class="sl-secundary-title-2">Tu información</h1>
    </div>
    <div class="sl-width-80 sl-primary-bg">

        <div class="sl-input-group sl-secundary-input">
            <label for="firstName">Nombre</label>
            <input id="firstName" placeholder=" NOMBRE" type="text" class="sl-quaternary-bg">
            <span class="sl-input-icon"><i class="fa-solid fa-pen-nib"></i></span>
            <!-- <small>Debe ingresar su nombre.</small>  -->
        </div> 

        <div class="sl-input-group sl-secundary-input">
            <label for="firstName">Apellido</label>
            <input id="firstName" placeholder=" APELLIDO" type="text" class="sl-quaternary-bg">
            <span class="sl-input-icon"><i class="fa-solid fa-pen-nib"></i></span>
            <!-- <small>Debe ingresar su apellido.</small>  -->
        </div>  
        
         <div class="sl-input-group sl-secundary-input">
            <label for="firstName">Identificación</label>
            <input id="firstName" placeholder=" IDENTIFICACIÓN" type="number" class="sl-quaternary-bg">
            <span class="sl-input-icon"><i class="fa-solid fa-pen-nib"></i></span>
            <!-- <small>Debe ingresar su número de identificación.</small>  -->
        </div> 
        
        <div class="sl-input-group sl-secundary-input">
            <label for="firstName">Email</label>
            <input id="firstName" placeholder=" EMAIL" type="email" class="sl-quaternary-bg">
            <span class="sl-input-icon"><i class="fa-solid fa-pen-nib"></i></span>
            <!-- <small>Debe ingresar su email.</small>  -->
        </div>  

        <div class="sl-input-group sl-secundary-input">
            <label for="firstName">Confirmar email</label>
            <input id="firstName" placeholder=" EMAIL" type="email" class="sl-quaternary-bg">
            <span class="sl-input-icon"><i class="fa-solid fa-pen-nib"></i></span>
            <!-- <small>Debe confirmar su email.</small>  -->
        </div>        

    </div>
    <div class="sl-width-80 sl-flex-column-center sl-mt-12">
        <button class="sl-width-100 sl-secundary-btn sl-btn sl-mb-4" type="button" (click)="goForward()">SIGUIENTE</button>
        <button class="sl-width-100 sl-secundary-btn sl-btn" type="button" (click)="goBackward()">ATRAS</button>
    </div>
</section>