<section class="sl-hero sl-primary-bg sl-flex-column-space-between sl-ph-12">
    <div class="sl-width-80 sl-flex-left-top">
        <h1 class="sl-secundary-title-2">Confirme su contraseña</h1>
        <div class="sl-width-100 sl-flex-row-space-between sl-mt-6">
            <span class="sl-quaternary-bg  sl-border-radius-1 sl-secundary-text-4 sl-pw-2 sl-flex-column-center"
                style="height: 3rem; width: 3rem;">
                {{code1}}</span>
            <span class="sl-quaternary-bg  sl-border-radius-1 sl-secundary-text-4 sl-pw-2 sl-flex-column-center"
                style="height: 3rem; width: 3rem;">
                {{code2}}</span>
            <span class="sl-quaternary-bg  sl-border-radius-1 sl-secundary-text-4 sl-pw-2 sl-flex-column-center"
                style="height: 3rem; width: 3rem;">
                {{code3}}</span>
            <span class="sl-quaternary-bg  sl-border-radius-1 sl-secundary-text-4 sl-pw-2 sl-flex-column-center"
                style="height: 3rem; width: 3rem;">
                {{code4}}</span>
        </div>
    </div>
    <div class="sl-width-80 sl-flex-column-center">
        <app-keyword style="width: 100%;" [count]="count" (typeEvent)="writeText($event)" [text]="codeNumber"></app-keyword>
    </div>
    <div class="sl-width-80 sl-flex-column-center">
        <button [ngClass]="isEnable?'sl-width-100 sl-secundary-btn sl-btn':'sl-width-100 sl-quaternary-btn sl-btn'"
            type="button" (click)="goForward()" [disabled]="!isEnable">CREAR CUENTA</button>
        <button class="sl-width-100 sl-secundary-btn sl-btn sl-mt-4" type="button" (click)="goBackward()">ATRAS</button>
    </div>
</section>
<app-loader [isVisible]="isLoading"></app-loader>
<app-message [isVisible]="isDone" [message]="wellcome"></app-message>