<form style="width: 100%;" [formGroup]="transForm" (ngSubmit)="submit()">
    <div class="sl-input-group sl-secundary-input">
        <label for="toPhone">Número de teléfono</label>
        <input formControlName="toPhone" id="toPhone" placeholder=" TELÉFONO" type="number" class="sl-quaternary-bg">
        <span class="sl-input-icon"><i class="fa-solid fa-phone"></i></span>
        <small *ngIf="toPhone.invalid && (toPhone.touched || toPhone.dirty)">Debe ingresar el número de destino.</small>
    </div>

    <div class="sl-input-group sl-secundary-input">
        <label for="description">Descripción</label>
        <input formControlName="description" id="description" placeholder=" DESCRIPCIÓN" type="text"
            class="sl-quaternary-bg">
        <span class="sl-input-icon"><i class="fa-solid fa-comment"></i></span>
        <small *ngIf="description.invalid && (description.dirty || description.touched)">Debe ingresar alguna
            descripción.</small>
    </div>

    <div class="sl-input-group sl-secundary-input">
        <label for="amount">Monto</label>
        <input formControlName="amount" id="amount" placeholder=" MONTO" type="number" class="sl-quaternary-bg">
        <span class="sl-input-icon"><i class="fa-solid fa-comment-dollar"></i></span>
        <small *ngIf="amount.invalid && (amount.dirty || amount.touched)">Debe ingresar la cantidad a enviar.</small>
    </div>

    <div class="sl-input-group sl-secundary-input" style="margin-top: 1.5rem;">
        <button class="sl-width-100 sl-secundary-btn sl-btn" type="submit">ENVIAR</button>
        <button class="sl-width-100 sl-secundary-btn sl-btn sl-mt-4" type="button" (click)="cancel()">CANCELAR</button>
    </div>
</form>
<app-message [isVisible]="isAlerting" [message]="message" (aceptEvent)="resetAlert()"></app-message>