<div style="width: 100%;">
    <div class="sl-input-group sl-secundary-input">
        <label for="firstName">Número</label>
        <input id="firstName" placeholder=" APELLIDO" type="text" class="sl-quaternary-bg">
        <span class="sl-input-icon"><i class="fa-solid fa-pen-nib"></i></span>
        <!-- <small>Debe ingresar su apellido.</small>  -->
    </div>

    <div class="sl-input-group sl-secundary-input">
        <label for="firstName">Nombre</label>
        <input id="firstName" placeholder=" NOMBRE" type="text" class="sl-quaternary-bg">
        <span class="sl-input-icon"><i class="fa-solid fa-pen-nib"></i></span>
        <!-- <small>Debe ingresar su nombre.</small>  -->
    </div>

    <div class="sl-input-group sl-secundary-input">
        <label for="firstName">Monto</label>
        <input id="firstName" placeholder=" IDENTIFICACIÓN" type="number" class="sl-quaternary-bg">
        <span class="sl-input-icon"><i class="fa-solid fa-pen-nib"></i></span>
        <!-- <small>Debe ingresar su número de identificación.</small>  -->
    </div>

    <div class="sl-input-group sl-secundary-input" style="margin-top: 1.5rem;">
        <button class="sl-width-100 sl-secundary-btn sl-btn" type="button">ENVIAR</button>
        <button class="sl-width-100 sl-secundary-btn sl-btn sl-mt-4" type="button">CANCELAR</button>
    </div>
</div>