<section class="sl-hero sl-secundary-bg sl-flex-column-space-between sl-ph-12">
    <div class="sl-width-60 sl-height-100" style="display: flex; flex-direction: column; justify-content: center;">
       <app-goldenicon></app-goldenicon>
    </div>
    <div class="sl-width-80 sl-flex-column-center sl-mt-12">
        <button class="sl-width-100 sl-primary-btn sl-btn sl-secundary-font-color sl-mb-4" type="button"
            (click)="signIn()">INICIAR</button>
        <button class="sl-width-100 sl-primary-btn sl-btn sl-secundary-font-color" type="button"
            (click)="signUp()">REGISTRARSE</button>
    </div>
</section>